<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set index.html as directory index
    DirectoryIndex index.html

    # Route API endpoints to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route API endpoints to index.php
    RewriteRule ^(channels|videos|fetch|groups|categories|votes)(/.*)?$ /index.php [QSA,L]
</IfModule>
