<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set index.html as directory index
    DirectoryIndex index.html

    # Route API endpoints to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # make sure the target location includes a slash
    RewriteRule ^(channels|videos|fetch)$ /index.php [QSA,L]
</IfModule>
